{
  "parser": "babel-eslint",
  "extends": [
    "oceanprotocol",
    "plugin:react/recommended"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "no-console": [
      "error",
      {
        "allow": [
          "error"
        ]
      }
    ]
  }
}