language: node_js
node_js:
  - "stable"
cache:
  directories:
    - client/node_modules
script:
  - cd client
  - npm install
  - npm run test:coverage
  - npm run build


after_success: npm run report:codecov

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  local_dir: build
  on:
    branch: master