@import "../assets/stylesheets/variables";

.app {
  text-align: center;
  min-height:calc(100vh - 20px);
  background-color: $brand-black;
}

.app_logo {
  height: 5rem;
  g{
    fill: $brand-white;
    stroke: none;
  }
}

.app_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5rem;

  .app_header__input{
    width:300px;
    margin-top:2rem;
    padding: .3rem;
    text-align:center;
    border-radius:4px;
  }
}

.bondingcurve{
  width: 500px;
  margin: 0 auto;
}